body {
  font-family: Arial, sans-serif;
  background-color: #333;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #35424a;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  font-size: xx-large;
}
.COG {
  border: #35424a 2px solid;
  padding: 10px;
  margin: 10px 0;
  background-color: #ffffff;
  width: 45%;
  text-align: center;
  background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(0, 0, 0));
  flex: 1;
}
.chromaCase {
  border: #35424a 2px solid;
  padding: 10px;
  margin: 10px 0;
  background-color: bisque;
  min-height: 68vh;
}
.openGame {
  border: #35424a 2px solid;
  padding: 10px;
  margin: 10px 0;
  background-color: #ffffff;
  font-size: large;
}
.openGame:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}
.TradeUp {
  border: #35424a 2px solid;
  padding: 10px;
  margin: 10px 0;
  background-color: #ffffff;
  width: 45%;
  text-align: center;
  background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(0, 0, 0));
  flex: 1;
  height: 100%;
}
.container {
  display: flex;
  gap: 20px;
}
.tradeUp {
  border: #35424a 2px solid;
  padding: 10px;
  margin: -10px 0;
  background-color: #ffffff;
  font-size: large;
}
.footerContainer {
  background-color: rgb(88, 88, 88);
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto;
  position: relative;
  z-index: 10;
}

.chromaCase img {
  width: 600px;
  height: auto;
  position: fixed;
  top: 41%;
  left: 9%;
  border: 2px solid transparent;
  transition: transform 0.5s;
}

.TradeUp img {
  width: 600px;
  height: auto;
  position: fixed;
  top: 45%;
  left: 61%;
  transition: transform 0.5s;
}
.chromaCase img:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
  border-color: bisque;
}
.chromaCase img:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}
